body {
  margin-left:5vw;
  margin-right:5vw;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: "Gill Sans", sans-serif;;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8vh;
}

.placeholder {
  flex-grow: 1; /* Ensures each placeholder takes up equal space */
  max-height: 25vh;
  aspect-ratio: 21 / 9;
  background-color: #ddd;
  border-radius: 4vw;
  box-shadow: 1vw 1vw 3vw rgba(0, 0, 0, 0.6);
  position: relative;
  overflow: hidden;
}

.placeholder img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: blur(2px);
}
.placeholder:hover img {
  filter: blur(2px) brightness(50%);
  transition: filter 0.15s ease-in-out;
}

.placeholder p {
  position: absolute;
  margin:0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  mix-blend-mode: overlay;
  color:white;
  font-weight: bold;
  font-size: 3em;
  background-color: transparent; /* Remove background */
  text-shadow: 0px 0px 30px rgba(0, 0, 0, 0.9);
}