body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.placeholder {
  width: 80%;
  /* Aspect ratio conservé pour une meilleure adaptation */
  aspect-ratio: 2 / 3;
  background-color: #ddd; /* Gris clair */
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  /* Hauteur maximale et minimale */
  max-height: 200px;
  min-height: 20vh;
}