body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.placeholder {
  width: 80%;
  /* Aspect ratio conservé pour une meilleure adaptation */
  aspect-ratio: 21 / 9;
  background-color: #ddd; /* Gris clair */
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  /* Hauteur maximale et minimale */
  max-height: 200px;
  min-height: 20vh;
}

.placeholder img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: blur(5px); /* Adjust blur strength as needed */
}

.placeholder p {
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: white;
  font-weight: bold;
  font-size: 24px;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
}